.wrapper {
}

.hero {
  padding: 40px 80px 80px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.buttonSlide {
  display: flex;
  justify-content: center;
  gap: 100px;

  & button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: var(--gray);
    color: #fff;
    border-radius: 10px;
  }
}

.titleTip {
  margin-top: 20px;
  text-transform: uppercase;
  color: #aaa !important;
  width: 50%;
  margin-bottom: -20px;
}

.radioWrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fixedWidth {
  max-width: 300px !important;
  padding-right: 40px !important;
}
.titleWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3px;

  & h2 {
    width: 100% !important;
  }

  & p {
    font-weight: 700;
  }
}

.title {
  padding-left: 40px;
  font-size: 34px !important;

  & .titleSwitch {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 140px;

    & p {
      font-size: 13px;
      font-weight: 500;

    }
  }
}
.closeWrapper {
  width: 50%;
  & span {
    right: 80px !important;
  }
}

.line {
  display: block;
  width: 200px;
  height: 15px;
  background-color: var(--line);
  transform: translateX(-30px);
}

.mentalWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  & h2 {
    padding-left: 40px;
  }
}

.withLinks {
  width: 90% !important;

  & h2 {
    width: 25% !important;
  }
}

.links {
  display: flex;
  gap: 5px;
  flex-direction: column;

  & .link {
    & svg {
      min-width: 55px;
      min-height: 55px;
    }

    & .withBorder {
      border-bottom: 3px dashed #aaa;
    }

    & p {
      font-weight: 700;
      padding: 2px 0;
      max-width: 320px;
    }

    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
  }
}

.formRadio {
  gap: 80px !important;
}

.thirdForm {
  gap: 30px !important;

  & .clarified {
    opacity: 50%;
  }
}

.lineTitle {
  display: flex;
  flex-direction: column;

  & span {
    margin-left: -40px;
  }
}

.titleWithSwitch {
  display: flex;
  max-width: 70%;
  justify-content: space-between;

  & .titleSwitch {
    margin-top: 20px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & p {
      font-size: 13px;
    }
  }
}
.form {
  padding: 30px 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &Title {
    gap: 20px;
    justify-content: start;
    text-transform: uppercase;
  }

  &Column {
    width: 80% !important;
    flex-direction: column !important;
    gap: 30px !important;

    & p {
      width: 40% !important;
    }
  }

  &Line {
    display: flex;
    gap: 160px;
    align-items: start;
    width: 800px;
  }

  .rates {
    display: flex;
    flex-direction: column;
    gap: 5px;
    & div {
      margin-left: 0 !important;
    }
    & .ratesText {
      padding: 0 10px;
      text-transform: uppercase;
      max-width: 50%;
      font-weight: 700;
      font-size: 12px;
    }
  }
}
.withShadow {
  transition: 0.3s all ease;
  padding: 30px 40px;
  margin: -30px -40px;
  &:hover {
    -webkit-box-shadow: 0px 0px 46px -6px rgba(161, 158, 158, 0.2);
    -moz-box-shadow: 0px 0px 46px -6px rgba(161, 158, 158, 0.2);
    box-shadow: 0px 0px 46px -6px rgba(161, 158, 158, 0.2);
  }
}
.result {
  display: flex;
  padding: 0 0 50px;
  &Button {
    margin-left: 300px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--gray);
    border: none;

    & a {
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      color: #fff;
    }
  }
}