.maxWidth {
  max-width: 100% !important;
}
.wrapper {
  position: relative;
  & .tip {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    &Text {
      transition: 0.3s all ease;
      position: absolute;
      width: 250px;
      word-wrap: break-word;
      top: -50px;
      z-index: 2;
      left: 30px;
      color: var(--primary);
      border-radius: 10px;
      padding: 10px 15px;
      background-color: #eee;
      font-weight: 500;
      font-size: 14px;

    }
  }
}
.heading {
  color: var(--primary);
  display: flex;
  align-items: start;
  width: 100%;
  position: relative;
  font-size: 20px;
}